.theme__light .theme__vitality {
  /* 主题色 */
  --theme-primary: #53692D;
  --theme-secondary: #75825F;
  --theme-tertiary: #2A3617;
  --theme-sub1: #A3B584;
  --theme-warning: #F9C630;
  --theme-error: #D14949;
  --theme-success: #4DA5EC;
  --theme-default-background: #F6F3E8;
  --theme-module-background: #FEFCF4;
  --theme-border: #E4E3DB;

  /* 容器色 */
  --for-primary: #53692D;
  --for-secondary: #75825F;
  --for-tertiary: #2A3617;
  --for-sub1: #A3B584;
  --for-warning: #F9C630;
  --for-error: #D14949;
  --for-success: #4DA5EC;

  /* 文字颜色 */
  --on-theme-default: #1B1C18;
  --on-theme-light: #FEFCF4;
  --on-primary: #FEFCF4;
  --on-secondary: #FEFCF4;
  --on-tertiary:#FEFCF4;
  --on-toast-default: #1B1C18;
  --on-warning: #FEFCF4;
  --on-error: #FEFCF4;
  --on-success: #FEFCF4;
  --on-background-primary: #1B1C18;
  --on-background-secondary: #464742;
  --on-background-terriary: #777771;
  --on-background-sub1: #C7C7BF;
  --on-module-primary: #1B1C18;
  --on-module-secondary: #464742;
  --on-module-terriary: #777771;
  --on-module-sub1: #C7C7BF;
}