  // 主题色
  @theme-primary: var(--theme-primary);
  @theme-secondary: var(--theme-secondary);
  @theme-tertiary: var(--theme-tertiary);
  @theme-sub1: var(--theme-sub1);
  @theme-warning: var(--theme-warning);
  @theme-error: var(--theme-error);
  @theme-success: var(--theme-success);
  @theme-default-background: var(--theme-default-background);
  @theme-module-background: var(--theme-module-background);
  @theme-border: var(--theme-border);

  // 容器色
  @for-primary: var(--for-primary);
  @for-secondary: var(--for-secondary);
  @for-tertiary: var(--for-tertiary);
  @for-sub1: var(--for-sub1);
  @for-warning: var(--for-warning);
  @for-error: var(--for-error);
  @for-success: var(--for-success);

  // 文字颜色
  @on-theme-default: var(--on-theme-default);
  @on-theme-light: var(--on-theme-light);
  @on-primary: var(--on-primary);
  @on-secondary: var(--on-secondary);
  @on-tertiary: var(--on-tertiary);
  @on-toast-default: var(--on-toast-default);
  @on-warning: var(--on-warning);
  @on-error: var(--on-error);
  @on-success: var(--on-success);
  @on-background-primary: var(--on-background-primary);
  @on-background-secondary: var(--on-background-secondary);
  @on-background-terriary: var(--on-background-terriary);
  @on-background-sub1: var(--on-background-sub1);
  @on-module-primary: var(--on-module-primary);
  @on-module-secondary: var(--on-module-secondary);
  @on-module-terriary: var(--on-module-terriary);
  @on-module-sub1: var(--on-module-sub1);