  // 主题色
  @theme-primary: var(--theme-primary);
  @theme-secondary: var(--theme-secondary);
  @theme-warning: var(--theme-warning);
  @theme-error: var(--theme-error);
  @theme-success: var(--theme-success);
  @theme-brown: var(--theme-brown);
  @theme-pink: var(--theme-pink);
  @theme-purple: var(--theme-purple);

  @on-primary: var(--on-primary);
  @on-secondary: var(--on-secondary);
  @on-warning: var(--on-warning);
  @on-error: var(--on-error);
  @on-success: var(--on-success);
  @on-brown: var(--on-brown);
  @on-pink: var(--on-pink);
  @on-purple: var(--on-purple);

  @primary-container: var(--primary-container);
  @secondary-container: var(--secondary-container);
  @warning-container: var(--warning-container);
  @error-container: var(--error-container);
  @success-container: var(--success-container);
  @brown-container: var(--brown-container);
  @pink-container: var(--pink-container);
  @purple-container: var(--purple-container);

  @on-primary-container: var(--on-primary-container);
  @on-secondary-container: var(--on-secondary-container);
  @on-warning-container: var(--on-warning-container);
  @on-error-container: var(--on-error-container);
  @on-success-container: var(--on-success-container);
  @on-brown-container: var(--on-brown-container);
  @on-pink-container: var(--on-pink-container);
  @on-purple-container: var(--on-purple-container);

  /* 基础 */
  @basic-background: var(--basic-background);
  @basic-on-background: var(--basic-on-background);
  @basic-surface: var(--basic-surface);
  @basic-on-surface: var(--basic-on-surface);
  @basic-surface-variant: var(--basic-surface-variant);
  @basic-on-surface-variant: var(--basic-on-surface-variant);
  @basic-outline: var(--basic-outline);
  @basic-99: var(--basic-99);
  @basic-98: var(--basic-98);
  @basic-95: var(--basic-95);
  @basic-90: var(--basic-90);
  @basic-80: var(--basic-80);
  @basic-70: var(--basic-70);
  @basic-60: var(--basic-60);
  @basic-50: var(--basic-50);
  @basic-40: var(--basic-40);
  @basic-35: var(--basic-35);
  @basic-30: var(--basic-30);
  @basic-25: var(--basic-25);
  @basic-20: var(--basic-20);
  @basic-15: var(--basic-15);
  @basic-10: var(--basic-10);
  @basic-05: var(--basic-05);

  /* 文字 */
  @text-primary: var(--text-primary);
  @text-secondary: var(--text-secondary);
  @text-tertiary: var(--text-tertiary);
  @text-quaterrary: var(--text-quaterrary);
  @text-99: var(--text-99);
  @text-98: var(--text-98);
  @text-95: var(--text-95);
  @text-90: var(--text-90);
  @text-80: var(--text-80);
  @text-70: var(--text-70);
  @text-60: var(--text-60);
  @text-50: var(--text-50);
  @text-40: var(--text-40);
  @text-35: var(--text-35);
  @text-30: var(--text-30);
  @text-25: var(--text-25);
  @text-20: var(--text-20);
  @text-15: var(--text-15);
  @text-10: var(--text-10);
  @text-05: var(--text-05);

  
  /* 扩展 */
  @extend-primary-99: var(--extend-primary-99);
  @extend-primary-92: var(--extend-primary-92);
  @extend-primary-85: var(--extend-primary-85);
  @extend-primary-78: var(--extend-primary-78);
  @extend-primary-71: var(--extend-primary-71);
  @extend-primary-64: var(--extend-primary-64);
  @extend-primary-57: var(--extend-primary-57);
  @extend-primary-50: var(--extend-primary-50);
  @extend-primary-44: var(--extend-primary-44);
  @extend-primary-38: var(--extend-primary-38);
  @extend-primary-32: var(--extend-primary-32);
  @extend-primary-26: var(--extend-primary-26);
  @extend-primary-20: var(--extend-primary-20);
  @extend-primary-14: var(--extend-primary-14);
  @extend-primary-08: var(--extend-primary-08);
  @extend-primary-02: var(--extend-primary-02);

  @extend-secondary-99: var(--extend-secondary-99);
  @extend-secondary-98: var(--extend-secondary-98);
  @extend-secondary-95: var(--extend-secondary-95);
  @extend-secondary-90: var(--extend-secondary-90);
  @extend-secondary-80: var(--extend-secondary-80);
  @extend-secondary-70: var(--extend-secondary-70);
  @extend-secondary-60: var(--extend-secondary-60);
  @extend-secondary-50: var(--extend-secondary-50);
  @extend-secondary-40: var(--extend-secondary-40);
  @extend-secondary-35: var(--extend-secondary-35);
  @extend-secondary-30: var(--extend-secondary-30);
  @extend-secondary-25: var(--extend-secondary-25);
  @extend-secondary-20: var(--extend-secondary-20);
  @extend-secondary-15: var(--extend-secondary-15);
  @extend-secondary-10: var(--extend-secondary-10);
  @extend-secondary-05: var(--extend-secondary-05);

  @extend-warning-99: var(--extend-warning-99);
  @extend-warning-98: var(--extend-warning-98);
  @extend-warning-95: var(--extend-warning-95);
  @extend-warning-90: var(--extend-warning-90);
  @extend-warning-80: var(--extend-warning-80);
  @extend-warning-70: var(--extend-warning-70);
  @extend-warning-60: var(--extend-warning-60);
  @extend-warning-50: var(--extend-warning-50);
  @extend-warning-40: var(--extend-warning-40);
  @extend-warning-35: var(--extend-warning-35);
  @extend-warning-30: var(--extend-warning-30);
  @extend-warning-25: var(--extend-warning-25);
  @extend-warning-20: var(--extend-warning-20);
  @extend-warning-15: var(--extend-warning-15);
  @extend-warning-10: var(--extend-warning-10);
  @extend-warning-05: var(--extend-warning-05);

  @extend-error-99: var(--extend-error-99);
  @extend-error-98: var(--extend-error-98);
  @extend-error-95: var(--extend-error-95);
  @extend-error-90: var(--extend-error-90);
  @extend-error-80: var(--extend-error-80);
  @extend-error-70: var(--extend-error-70);
  @extend-error-60: var(--extend-error-60);
  @extend-error-50: var(--extend-error-50);
  @extend-error-40: var(--extend-error-40);
  @extend-error-35: var(--extend-error-35);
  @extend-error-30: var(--extend-error-30);
  @extend-error-25: var(--extend-error-25);
  @extend-error-20: var(--extend-error-20);
  @extend-error-15: var(--extend-error-15);
  @extend-error-10: var(--extend-error-10);
  @extend-error-05: var(--extend-error-05);

  @extend-success-99: var(--extend-success-99);
  @extend-success-98: var(--extend-success-98);
  @extend-success-95: var(--extend-success-95);
  @extend-success-90: var(--extend-success-90);
  @extend-success-80: var(--extend-success-80);
  @extend-success-70: var(--extend-success-70);
  @extend-success-60: var(--extend-success-60);
  @extend-success-50: var(--extend-success-50);
  @extend-success-40: var(--extend-success-40);
  @extend-success-35: var(--extend-success-35);
  @extend-success-30: var(--extend-success-30);
  @extend-success-25: var(--extend-success-25);
  @extend-success-20: var(--extend-success-20);
  @extend-success-15: var(--extend-success-15);
  @extend-success-10: var(--extend-success-10);
  @extend-success-05: var(--extend-success-05);

  @extend-brown-99: var(--extend-brown-99);
  @extend-brown-98: var(--extend-brown-98);
  @extend-brown-95: var(--extend-brown-95);
  @extend-brown-90: var(--extend-brown-90);
  @extend-brown-80: var(--extend-brown-80);
  @extend-brown-70: var(--extend-brown-70);
  @extend-brown-60: var(--extend-brown-60);
  @extend-brown-50: var(--extend-brown-50);
  @extend-brown-40: var(--extend-brown-40);
  @extend-brown-35: var(--extend-brown-35);
  @extend-brown-30: var(--extend-brown-30);
  @extend-brown-25: var(--extend-brown-25);
  @extend-brown-20: var(--extend-brown-20);
  @extend-brown-15: var(--extend-brown-15);
  @extend-brown-10: var(--extend-brown-10);
  @extend-brown-05: var(--extend-brown-05);

  @extend-pink-99: var(--extend-pink-99);
  @extend-pink-98: var(--extend-pink-98);
  @extend-pink-95: var(--extend-pink-95);
  @extend-pink-90: var(--extend-pink-90);
  @extend-pink-80: var(--extend-pink-80);
  @extend-pink-70: var(--extend-pink-70);
  @extend-pink-60: var(--extend-pink-60);
  @extend-pink-50: var(--extend-pink-50);
  @extend-pink-40: var(--extend-pink-40);
  @extend-pink-35: var(--extend-pink-35);
  @extend-pink-30: var(--extend-pink-30);
  @extend-pink-25: var(--extend-pink-25);
  @extend-pink-20: var(--extend-pink-20);
  @extend-pink-15: var(--extend-pink-15);
  @extend-pink-10: var(--extend-pink-10);
  @extend-pink-05: var(--extend-pink-05);

  @extend-purple-99: var(--extend-purple-99);
  @extend-purple-98: var(--extend-purple-98);
  @extend-purple-95: var(--extend-purple-95);
  @extend-purple-90: var(--extend-purple-90);
  @extend-purple-80: var(--extend-purple-80);
  @extend-purple-70: var(--extend-purple-70);
  @extend-purple-60: var(--extend-purple-60);
  @extend-purple-50: var(--extend-purple-50);
  @extend-purple-40: var(--extend-purple-40);
  @extend-purple-35: var(--extend-purple-35);
  @extend-purple-30: var(--extend-purple-30);
  @extend-purple-25: var(--extend-purple-25);
  @extend-purple-20: var(--extend-purple-20);
  @extend-purple-15: var(--extend-purple-15);
  @extend-purple-10: var(--extend-purple-10);
  @extend-purple-05: var(--extend-purple-05);
  
  @theme-default-background: var(--theme-default-background);
  @theme-module-background: var(--theme-module-background);
  @theme-border: var(--theme-border);

  // 容器色
  @for-primary: var(--for-primary);
  @for-secondary: var(--for-secondary);
  @for-tertiary: var(--for-tertiary);
  @for-sub1: var(--for-sub1);
  @for-warning: var(--for-warning);
  @for-error: var(--for-error);
  @for-success: var(--for-success);

  // 文字颜色
  @on-theme-default: var(--on-theme-default);
  @on-theme-light: var(--on-theme-light);
  @on-primary: var(--on-primary);
  @on-secondary: var(--on-secondary);
  @on-tertiary: var(--on-tertiary);
  @on-toast-default: var(--on-toast-default);
  @on-warning: var(--on-warning);
  @on-error: var(--on-error);
  @on-success: var(--on-success);
  @on-background-primary: var(--on-background-primary);
  @on-background-secondary: var(--on-background-secondary);
  @on-background-terriary: var(--on-background-terriary);
  @on-background-sub1: var(--on-background-sub1);
  @on-module-primary: var(--on-module-primary);
  @on-module-secondary: var(--on-module-secondary);
  @on-module-terriary: var(--on-module-terriary);
  @on-module-sub1: var(--on-module-sub1);