.layout__menubar {
  position: relative;
  height: 100%;
  border-radius: 20px;
  color: @on-primary;
  background-color: @theme-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  content-type: size;
  content-name: menuBar;
  user-select: none;

  .slot__top {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .logo {
      margin-bottom: 10px;
    }
    .text {
      font-size: 20px;
    }
  }
  .slot__bottom {
    flex-shrink: 0;
    width: 100%;
    .log_out_btn {
      margin-left: -15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s ease;
      .logo {
        font-size: 24px;
        margin-right: 10px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .toggle_open_btn {
    position: absolute;
    z-index: 2;
    top: 90px;
    border-radius: 50%;
    background-color: @basic-surface;
    color: @basic-on-surface-variant;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) ;
    }
  }
  .slot__mid {
    position: relative;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .active_item_bg {
      position: absolute;
      background-color: @basic-surface;
    }
    .menu_list {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .menu_item {
        flex-shrink: 0;
        position: relative;
        z-index: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .menu_info {
          position: relative;
          z-index: 2;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name {
            flex: 1;
          }
        }
        &_root {
          overflow: hidden;
        }
        &_child {
          // position: absolute;
          // left: 0;
          // bottom: 100%;
          overflow: hidden;
        }
      }
      .menu_child_list {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: scaleY(0);
        transform-origin: top;
      }
      .active {
        color: @text-primary;
        .icon {
          color: @theme-primary;
        }
      }
      .icon {
        font-size: 24px;
      }
      // 通用样式
      :global(.ant-menu-root) {
        &:global(.ant-menu) {
          background-color: transparent !important;
          border-inline-end:none;
        }
        :global(.ant-menu-submenu-title) {
          padding: 0 !important;
          margin: 0 !important;
          width: 100%;
          :global(.ant-menu-title-content) {
            margin-inline-start: 6px;
          }
        }
        &>:global(.ant-menu-submenu) {
          &:global(:not(.ant-menu-submenu-open).ant-menu-submenu-active .ant-menu-submenu-title:hover) {
            color: @basic-surface !important;
          }
          &:global(:not(.ant-menu-submenu-open)+.ant-menu-item-selected),
          &:global(:not(.ant-menu-submenu-open)~.ant-menu-item-selected) {
            display: flex;
              justify-content: center;
              align-items: center;
              background-color: @basic-surface;
              color: @theme-secondary;
              .icon {
                color: @theme-primary;
              }
          }
          
        }
        &>:global(.ant-menu-item) {
          margin: 0 !important;
          padding: 0 !important;
          margin-inline: 0;
          margin-block: 0;
          width: 100% !important;
          color: @basic-surface;
          // &:global(.ant-menu-item-selected) {
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   background-color: @basic-surface;
          //   color: @theme-secondary;
          //   .icon {
          //     color: @theme-primary;
          //   }
          // }
        }
      }
      // 列表展开状态
      :global(:not(.ant-menu-inline-collapsed)) {
        :global(.ant-menu-submenu) {
          &:global(:not(.ant-menu-submenu-open)) {
            color: @basic-surface;
            &:global(.ant-menu-submenu-selected>.ant-menu-submenu-title) {
              color: @basic-surface;
            }
          }
          &:global(.ant-menu-submenu-open) {
            color: @text-primary;
            background-color: @basic-surface;
            :global(.ant-menu-submenu) {
              color: @text-primary;
            }
            &>:global(.ant-menu-submenu-title>.ant-menu-item-icon) {
              color: @theme-secondary;
            }
            
          }
          :global(.ant-menu-item) {
            margin: 0;
            width: 100%;
          }
          &:global(.ant-menu-submenu-active) {
            :global(.ant-menu-submenu-title) {
              background-color: transparent;
            }
          }
          &>:global(.ant-menu) {
            position: relative !important;
            &:global(.ant-menu-sub.ant-menu-inline) {
              background: transparent;
            }
            &::before {
              position: absolute;
              content: ' ';
              width: 1px;
              top: 0;
              background-color: @basic-border;
            }
          }
        }
        :global(.ant-menu-item-selected) {
          background-color: @basic-surface-variant;
          color: @basic-on-surface-variant;
        }
      }

      // 列表收起状态
      :global(.ant-menu-inline-collapsed) {
        :global(.ant-menu-title-content) {
          display: none;
        }
        :global(.ant-menu-item-icon) {
          color: @basic-surface;
          margin-left: 0 !important;
        }
        &>:global(.ant-menu-submenu-selected) {
          background-color: @basic-surface;
          :global(.ant-menu-item-icon) {
            color: @theme-primary;
          }
        }
        &>:global(.ant-menu-submenu>.ant-menu-submenu-title) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &>:global(:not(.ant-menu-submenu-selected).ant-menu-submenu-open) {
          background-color: transparent;
        }
      }
      &.no_open_keys {
        :global(:not(.ant-menu-inline-collapsed)) {
          &:global(.ant-menu-submenu-selected) {
            color: @theme-secondary;
            background-color: @basic-surface;
            :global(.ant-menu-submenu-title) {
              color: @theme-secondary !important;
            }
            &>:global(.ant-menu-submenu-title>.ant-menu-item-icon) {
              color: @theme-secondary;
            }            
          }
          &>:global(.ant-menu-submenu) {
            padding-bottom: 0;
            &:global(.ant-menu-submenu-selected.ant-menu-submenu-active .ant-menu-submenu-title:hover) {
              color: @theme-secondary !important;
            }
          }
        }
      }
    }
  }
}
// 列表弹出状态
:global(.ant-menu-submenu-popup) {
  :global(.ant-menu-title-content) {
    // TODO 菜单弹出列表文字不显示
    color: @text-primary;
  }
  :global(.ant-menu-item-selected) {
    background-color: @basic-surface-variant !important;
    color: @basic-on-surface-variant !important;
  }
}

.layout__menubar.open {
  transition: all 0.2s ease-in;
  .slot__top .logo, .slot__top .text, .log_out_btn {
    transition: all 0.2s ease-in;
  }
  .menu_item_root {
    transition: max-height 0.2s ease-in;
  }
  .active {
    transition: max-height 0.2s ease-in;
    // height: auto !important;
    &>.menu_child_list {
      position: relative;
      z-index: 1;
      bottom: 0;
      transform: scaleY(1);
      transition: transform 0.2s ease-in;
    }
  }
  .fallow {
    transition: max-height 0.2s ease-in;
  }
  
}

.layout__menubar.close {
  transition: all 0.2s ease-in;
  .slot__top .logo {
    transition: all 0.2s ease-in;
  }
  .slot__top .text {
    transition: all 0.2s ease-in;
    margin-top: -30px;
    opacity: 0;
    visibility: hidden;
  }
  .log_out_btn {
    transition: all 0.2s ease-in;
    margin-bottom: -43px;
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 1680px) {
  .layout__menubar {
    padding: 20px 10px;
    .logo {
      font-size: 24px;
    }
    .slot__top {
      height: 78px;
    }
    .slot__bottom {
      height: 47px;
      padding-bottom: 23px;
    }
    .toggle_open_btn {
      width: 28px;
      height: 28px;
      right: -14px;
      .logo {
        font-size: 20px;
      }
    }
    .slot__mid {
      padding-top: min(30px, 3.8cqh);
      padding-bottom: min(35px, 4.55cqh);
      .menu_list {
        width: 100%;
        height: calc(60px * 8);
      }

      :global(.ant-menu-root) {
        &>:global(.ant-menu-submenu>.ant-menu-submenu-title),
        &>:global(.ant-menu-item) {
          height: 60px;
        }
        &>:global(.ant-menu-submenu),
        &>:global(.ant-menu-item) {
          border-radius: 22px;
          overflow: hidden;
        }
      }
      :global(.ant-menu-inline-collapsed) {
        width: 60px;
        :global(.ant-menu-submenu),
        &>:global(.ant-menu-item) {
          width: 60px;
        }
        
      }
      :global(:not(.ant-menu-inline-collapsed)) {
        &>:global(.ant-menu-submenu) {
          padding-bottom: 8px;
        }
        &>:global(.ant-menu-item .ant-menu-item-icon) {
          margin-left: 16px;
        }
        &>:global(.ant-menu-item .ant-menu-title-content) {
          margin-inline-start: 6px;
        }
        :global(.ant-menu-submenu) {
          &:global(.ant-menu-submenu-open) {
            &>:global(.ant-menu) {
              &::before {
                height: calc(100% - 20px);
                left: 26px;
              }
            }
          }
          &>:global(.ant-menu-submenu-title .ant-menu-item-icon) {
            margin-left: 16px;
          }
          
          &>:global(.ant-menu) {
            padding-left: 40px;
          }
          :global(.ant-menu-submenu) {
            &>:global(.ant-menu) {
              padding-left: 34px;
              &::before {
                left: 20px;
              }
            }
            :global(.ant-menu-item-icon) {
              margin-left: 10px;
            }
           :global(.ant-menu-submenu-title) {
            height: 40px;
            width: calc(100% - 16px);
            :global(.ant-menu-submenu-arrow) {
              inset-inline-end: 0;
            }
           }
           
          }
          :global(.ant-menu-item) {
            width: calc(100% - 16px) !important;
            padding: 13px 14px !important;
            margin-inline-end: 16px;
          }
        }
        
      }
    }
  }
  .layout__menubar.open {
    width: 200px;
    .slot__top .logo {
      margin-top: 10px;
      font-size: 44px;
    }
    
  }
  .layout__menubar.close {
    width: 80px;
    .slot__top .logo {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: 1680px) {
  .layout__menubar {
    padding: 20px 15px;
    .slot__top .text {
      font-size: 22px;
    }
    .slot__top {
      height: 84px;
    }
    .logo {
      font-size: 28px;
    }
    .slot__bottom {
      height: 67px;
      padding-bottom: 43px;
    }
    .toggle_open_btn {
      width: 32px;
      height: 32px;
      right: -16px;
      .logo {
        font-size: 24px;
      }
    }
    .slot__mid {
      padding-top: min(100px, 9.6cqh);
      padding-bottom: min(142px, 13.65cqh);
      .menu_list {
        width: 100%;
        height: calc(68px * 9);
        overflow-y: auto;
      }
      :global(.ant-menu-root) {
        &>:global(.ant-menu-submenu>.ant-menu-submenu-title),
        &>:global(.ant-menu-item) {
          height: 68px;
        }
        &>:global(.ant-menu-submenu),
        &>:global(.ant-menu-item) {
          border-radius: 26px;
          overflow: hidden;
        }
      }
      :global(.ant-menu-inline-collapsed) {
        width: 68px;
        :global(.ant-menu-submenu),
        &>:global(.ant-menu-item) {
          width: 68px;
        }
      }
      :global(:not(.ant-menu-inline-collapsed)) {
        &>:global(.ant-menu-submenu) {
          padding-bottom: 8px;
        }
        &>:global(.ant-menu-item .ant-menu-item-icon) {
          margin-left: 18px;
        }
        // &>:global(.ant-menu-item .ant-menu-title-content) {
        //   margin-inline-start: 6px;
        // }
        :global(.ant-menu-submenu) {
          &:global(.ant-menu-submenu-open) {
            &>:global(.ant-menu) {
              &::before {
                height: calc(100% - 22px);
                left: 28px;
              }
            }
          }
          &>:global(.ant-menu-submenu-title .ant-menu-item-icon) {
            margin-left: 18px;
          }
          
          &>:global(.ant-menu) {
            padding-left: 42px;
          }
          :global(.ant-menu-submenu) {
            &>:global(.ant-menu) {
              padding-left: 36px;
              &::before {
                left: 22px;
              }
            }
            :global(.ant-menu-item-icon) {
              margin-left: 12px;
            }
           :global(.ant-menu-submenu-title) {
            height: 44px;
            width: calc(100% - 18px);
            :global(.ant-menu-submenu-arrow) {
              inset-inline-end: 0;
            }
           }
           
          }
          :global(.ant-menu-item) {
            width: calc(100% - 16px) !important;
            padding: 13px 14px !important;
            margin-inline-end: 16px;
          }
        }
        
      }
      
    }
  }
  .layout__menubar.open {
    // padding-top: 40px;
    width: 220px;
    .slot__top .logo {
      font-size: 48px;
    }
  }
  .layout__menubar.close {
    width: 98px;
    .slot__top .logo {
      margin-top: 10px;
      font-size: 40px;
    }
  }
}
