.page__single__login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  container-type: size;

  .slot__left {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 min(5cqw,100px);
    // padding: 0 7.5cqw;

    .logo {
      margin-top: -10%;
      margin-bottom: 20px;
      font-size: 128px;
    }

    .icon {
      font-size: 24px;
      color: @theme-primary;
    }
  }

  .slot__right {
    position: relative;
    width: 61.8%;
    height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
    }
    @media screen and (min-width: 1920px) and (max-height: 1080px) {
      .background {
        width: 100%;
        height: auto;
      }
    }
    @media screen and (max-width: 1920px) and (min-height: 1080px) {
      .background {
        height: 100%;
        width: auto;
      }
    }

    .pic_ct {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .pic {
        width: 88.4%;
        max-width: 1117.4px;
        height: auto;
      }
    }
    
  }

  .form__login {
    width: 100%;
    max-width: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
      &_main {
        width: 100%;
        height: 32px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &_cname {
          margin-right: 10px;
          line-height: 32px;
          font-size: 32px;
          font-weight: 600;
        }

        &_ename {
          line-height: 18px;
          font-size: 18px;
          font-weight: 600;
          color: @extend-primary-78;
        }
      }

      &_sub {
        width: 100%;
        margin-bottom: 32px;
        line-height: 14px;
        font-size: 14px;
        font-weight: 400;
        color: @text-40;
      }
    }
    .mod_login_form_login {
      width: 100%;
      :global {
        .ant-form-item {
          margin-top: 6px;
          margin-bottom: 32px;
        }
        .ant-input-affix-wrapper {
          border-radius: 8px;
        }
        .ant-form-item-label {
          padding-bottom: 3px;
        }
        label {
          line-height: 20px;
          font-size: 16px !important;
          font-weight: 500;
        }
      }
    }
    .login_btn {
      width: 100%;
      margin-top: 32px;
      line-height: 20px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
